@import "./Media.css";


.app {
    display: flex;
    /* 768px */
    height: 48rem;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

.chat-area {
    display: flex;
    flex-direction: column;
    width: 73%;
    height: 100%;
}