@import "./Media.css";

.chat-input {
    display: flex;
    /*  容器内子元素的间距 */
    gap: 0.5rem;
    padding: 0.625rem 1rem;
    border-top: 1px solid #e5e7eb;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 5rem;
    background-color: white;
    box-sizing: border-box;
    align-items: center;
}

.chat-input input {
    flex: 1;
    padding: 0.625rem 0.875rem;
    border: 1px solid #d1d5db;
    border-radius: 1.25rem;
    font-size: 0.875rem;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

.chat-input button {
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0.625rem 1.125rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

.chat-input button.send {
    background-color: #2563eb;
    color: white;
    border: none;
}



.chat-input button.voice svg {
    width: 1rem;
    height: 1rem;
}