@import "./Media.css";

.history-sidebar {
    height: 100%;
    width: 25%;
    border-right: 1px solid #e5e7eb;
    padding-right: 1rem;
    box-sizing: border-box;
    /* 文本水平排列 */
    writing-mode: horizontal-tb;
    position: relative;
    top: 0;

}

.history-sidebar h3 {
    width: 100%;
    height: 1.75rem;
    position: absolute;
    text-align: center;
    font-size: 1.3125rem;
    margin-top: 0.625rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

.history-sidebar button.new-chat {
    width: 100%;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: "Microsoft YaHei", Arial, sans-serif;
    position: absolute;
    top: 3rem;
}

.history-sidebar ul {
    width: 100%;
    position: absolute;
    list-style: none;
    padding: 0;
    top: 6.25rem;
}

.history-sidebar li {
    padding: 1.125rem 0 1.125rem 0.5625rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

.history-sidebar li:hover,
.history-sidebar li.active {
    background-color: #e6effe;
}

.history-sidebar li button.delete {
    background-color: transparent;
    color: #6b7280;
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}

.history-sidebar li button.delete:hover {
    color: #ef4444;
}