* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/* 大屏幕 */
@media screen and (min-width: 1201px) {
    html {
        font-size: 16px;
    }
}



/* 笔记本 */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    html {
        font-size: 15px;
    }
}

/* 平板 */
@media screen and (min-width: 769px) and (max-width: 992px) {

    html {
        font-size: 14px;
    }
}



/* 手机 */
@media screen and (max-width:768px) {

    html {
        font-size: 12px;
    }
}