@import "./Media.css";

.message-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 43rem;
    /* 控制元素在y轴的溢出内容，显示滚动条 */
    overflow-y: auto;
    padding: 1rem;
    width: 100%;
}

.message {
    max-width: 100%;
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    padding: 0.625rem 0.875rem;
    /*  强制内容换行 */
    word-break: break-word;
    font-family: "Microsoft YaHei", Arial, sans-serif;
    font-size: 0.875rem;
}

.message.user {
    /*  文本在水平方向靠右显示 */
    align-self: flex-end;
    background-color: #bfdbfe;
}

.message.assistant {
    /*  文本在水平方向靠左显示 */
    align-self: flex-start;
    background-color: #f3f4f6;
}

.typing {
    color: #6b7280;
    font-style: italic;
    align-self: flex-start;
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}